<style>
  @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@100&family=Roboto:wght@300&family=Sacramento&display=swap');
</style>
html {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}
.button{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
}
.row{
  margin: 8px 0;
}
.row input{
  width: 291px;
  font-size: 24px;
  margin: 0;
  padding: 10px 0px;
  border: 2px solid black;
  border-radius: 5px;
}